/* HERO */
.menu-hero {
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu-hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.menu-hero-content {
  position: relative;
  color: white;
  z-index: 2;
  max-width: 800px;
}

.menu-hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.menu-hero p {
  font-size: 1.2rem;
  opacity: 0.9;
}